<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="us.wi.hofferec.unitix">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".helpers.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.TicketPostedActivity" />
        <activity android:name=".activities.TicketPurchasedActivity" />
        <activity android:name=".activities.SellTicketActivity" />
        <activity android:name=".activities.TicketMarketplaceActivity" />
        <activity android:name=".activities.ConfirmPurchaseActivity" />
        <activity android:name=".activities.ProfileActivity" />
        <activity android:name=".activities.SignUpActivity" />
        <activity android:name=".activities.ProfileSellingActivity" />
        <activity android:name=".activities.ProfileBuyingActivity" />
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".activities.ProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ProfileActivity"/>
        </activity>
        <activity android:name=".fragments.SettingsFragment" />
        <activity android:name=".activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Enabling this flag is required in order to use the PaymentsClient -->
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
    </application>

</manifest>